@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-button {
    background: linear-gradient(to right , #7559FF , purple);
}


.moving-text {
    animation-name: move-text;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes move-text {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}


.mixed-color {
    background: linear-gradient(#E8E2FA , #FBFAF9);
}

.moving-box-container::-webkit-scrollbar {
    display: none;
}

.part3-div {
    background: linear-gradient(white , #E2EFFF);
}